.body {
    background-color: #eee;
}

form {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button {
    padding: 15px 40px;
    font-size: 50px;
    line-height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 8px 10px #0002;
}
.change {
    cursor: pointer;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;
    color: #fff;
}
.change:hover {
    background-color: yellowgreen;
    color: black;
}
.number {
    cursor: pointer;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    color: #fff;
}
.number:hover {
    background-color: rgb(79,235,222);
    color: black;
}
.number {
    padding: 10px 30px;
    font-size: 50px;
    line-height: 30px;
}

.skaicius {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    
}
#history {
    height: 50%;
    width: 70%;
}
::placeholder {
    font-size: 25px;
}